*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b91550;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

.calc-ticket {
    padding-top: 100px;
}